################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApplication08/FileContentIndex
/.vs/ConsoleApplication08/v17
/ConsoleApplication08/x64/Debug
